
.fswTextArea {
    width: 900px;
}

.fswTextAreaMiddle {
    width: 700px;
}

.fswTextAreaSmall {
    width: 500px;
}

.fswTextAreaVerySmall {
    width: 300px;
}



.ui-dialog-titlebar {
    background-color: #999999;
    background-image: none;
    color: #000;
}

.edit_legend_title {

    margin-top: 3em;
}

.edit_legend_title_medien {

    margin-top: 3em;
}

.markItem {
    color: #009933;
}