
.fswTextArea {
    width: 900px;
}

.fswTextAreaMiddle {
    width: 700px;
}

.fswTextAreaSmall {
    width: 500px;
}

.fswTextAreaVerySmall {
    width: 300px;
}



.ui-dialog-titlebar {
    background-color: #999999;
    background-image: none;
    color: #000;
}

.edit_legend_title {

    margin-top: 3em;
}

.edit_legend_title_medien {

    margin-top: 3em;
}

.markItem {
    color: #009933;
}


.linkMitAbstandBottom {
    margin-bottom: 20px;
}

.relRolleNotOk {
    background-color: #ff6666;
}

.relRolleOk {
    background-color: #009933;
}

.ui-datepicker {
    background: #333;
    border: 1px solid #555;
    color: #EEE;
}

.linkMitAbstandTop {
    margin-bottom: 40px;
}
