html
{
	height:auto;
}
body
{
	background-color:#FFFFFF;
	margin: 0;
	height:auto;
}
div.bodywidthIFrame
{
	margin: 0;
	width: auto;
	min-height: 0;
}



img
{
  float:left;
   
}

p.noMarginBottom {
    margin-bottom:0;
}


li.marginTop {
    margin-top:1.2em;
}

li.marginTop-small {
    margin-top:0.5em;
}



p.abstractAbsatz {
    /*color:#ff1493; */
}


#stripe1 {
    background-color:#a52a2a;
}

.objectContainer
{
    padding-bottom: 15px;
}

.titleZora {
    font-weight: bold;
}

.zoraSectionName {
    margin-bottom: 20px;
    font-size: 1.2em;
    margin-top: 1.5em;
    padding: 0;
    line-height: 1.2em;

}