

/* institute specific part of header */

/* note: style definitions WITHOUT div are needed for login and error screen */
	
/* --------------------------------------------------------- */
/* ----- CASE 1: headerarea with DARK background-image ----- */
/* --------------------------------------------------------- */

/* 

#headerarea, div#headerarea 
{
	background-image:url(../images/keyvisual.jpg); 
	background-repeat:no-repeat;
}
div#servicenav, div#servicenav a 
{
	color: #ffffff;
}
div#servicenav a.current
{
	color: #ffffff;
}
div#servicenav a#printView
{
	background-image:url(/uzh/authoring/images/icon_print_w.gif);
	background-repeat: no-repeat;
	background-position: 1px 1px;
}
div#servicenav a#switchFontSize
{
	background-image:url(/uzh/authoring/images/icon_bigfont_w.gif);
	background-repeat: no-repeat;
	background-position: 3px 2px;
}
div#servicenav a#simpleView
{
	background-image:url(/uzh/authoring/images/icon_pda_view_w.gif);
	background-repeat: no-repeat;
	background-position: 2px 2px;
}
div.endheaderline 
{
	margin-right:0px;
}

*/

/* ----------------------------------------------------------- */
/* ----- CASE 2: headerarea with BRIGHT background-image ----- */
/* ----------------------------------------------------------- */

/* 

#headerarea, div#headerarea 
{
	background-image: url(../images/keyvisual.jpg); 
	background-repeat: no-repeat;
}
div#servicenav, div#servicenav a 
{
	color: #000000;
}
div#servicenav a.current
{
	color: #000000;
}
div#servicenav a#printView
{
	background-image:url(/uzh/authoring/images/icon_print_b.gif);
	background-repeat: no-repeat;
	background-position: 1px 1px;
}
div#servicenav a#switchFontSize
{
	background-image:url(/uzh/authoring/images/icon_bigfont_b.gif);
	background-repeat: no-repeat;
	background-position: 3px 2px;
}
div#servicenav a#simpleView
{
	background-image:url(/uzh/authoring/images/icon_pda_view_b.gif);
	background-repeat: no-repeat;
	background-position: 2px 2px;
}
div.endheaderline 
{
	margin-right:0px;
}

*/

/* ---------------------------------------------------------- */
/* ----- CASE 3: uzh-associated organisations WITH logo ----- */
/* ---------------------------------------------------------- */

/* logo-width variable (max 483px), height fix 68px */

/* 

div#logo
{
	margin: 0;
	padding: 15px 0 10px 17px;
	width: 483px; 
	height: 68px;
}
div#logo a
{
	padding: 0;
}
div#uzhlogo_small
{
	width: auto;
	float: right;
	clear:right;
	padding: 14px 22px 0px 9px;
	margin: 0;
}
div#headerarea h2
{
	font-weight: normal;
	width: 142px;
	font-size: 0.81em;
	padding: 0 0 0 20px;
	margin: 0;
}

*/

/* ------------------------------------------------------------------ */
/* ----- CASE 4: student organisations WITH logo WITH uzh-logo ------ */
/* ------------------------------------------------------------------ */

/* logo-width variable (max 483px), height fix 68px */

/* 

div#logo
{
	margin: 0;
	padding: 15px 0 10px 17px;
	width: 483px; 
	height: 68px;
}
div#logo a
{
	padding: 0;
}
div#uzhlogo_small
{
	width: auto;
	float: right;
	clear:right;
	padding: 14px 22px 0px 9px;
	margin: 0;
}
div#headerarea h2
{
	font-weight: normal;
	width: 170px;
	font-size: 0.81em;
	padding: 0 0 0 20px;
	margin: 0;
}

*/

/* -------------------------------------------------------------------- */
/* ----- CASE 5: student organisations WITH logo WITHOUT uzh-logo ----- */
/* -------------------------------------------------------------------- */

/* logo-width variable (max 483px), height fix 68px */

/* 

div#logo
{
	margin: 0;
	padding: 15px 0 10px 17px;
	width: 483px; 
	height: 68px;
}
div#logo a
{
	padding: 0;
}
div#uzhlogo_small
{
	display: none;
}
div#headerarea h2
{
	font-weight: normal;
	width: 170px;
	font-size: 0.81em;
	padding: 0 0 0 20px;
	margin: 0;
}

*/

/* ------------------------------------------------------------- */
/* ----- CASE 6: uzh-associated organisations WITHOUT logo ----- */
/* ------------------------------------------------------------- */ 

/* width of h1.associate may be adapted for long pubtitles or earlier line breaks */

/* 

div#headerarea h1.associate
{
	font-family:Arial, Helvetica, FreeSans, sans-serif;
	font-weight: bold;
	font-size: 2em;
	line-height: 1.09em;
    margin:0;
    padding: 21px 0 22px 20px;
	width: 350px;
	height: 50px;
}
div#headerarea h1.associate a
{
	color: #000000;
	border: none;
	float: none;
}
div#uzhlogo_small
{
	width: auto;
	float: right;
	clear:right;
	padding: 14px 22px 0px 9px;
	margin: 0;
}
div#headerarea h2
{
	font-weight: normal;
	width: 142px;
	font-size: 0.81em;
	padding: 0 0 0 20px;
	margin: 0;
}

*/

/* -------------------------------------------------------------------- */
/* ----- CASE 7: student organisations WITHOUT logo WITH uzh-logo ----- */
/* -------------------------------------------------------------------- */ 

/* width of h1.associate may be adapted for long pubtitles or earlier line breaks */

/* 

div#headerarea h1.associate
{
	font-family:Arial, Helvetica, FreeSans, sans-serif;
	font-weight: bold;
	font-size: 2em;
	line-height: 1.09em;
    margin:0;
    padding: 21px 0 22px 20px;
	width: 350px;
	height: 50px;
}
div#headerarea h1.associate a
{
	color: #000000;
	border: none;
	float: none;
}
div#uzhlogo_small
{
	width: auto;
	float: right;
	clear:right;
	padding: 14px 22px 0px 9px;
	margin: 0;
}
div#headerarea h2
{
	font-weight: normal;
	width: 170px;
	font-size: 0.81em;
	padding: 0 0 0 20px;
	margin: 0;
}

*/

/* ----------------------------------------------------------------------- */
/* ----- CASE 8: student organisations WITHOUT logo WITHOUT uzh-logo ----- */
/* ----------------------------------------------------------------------- */ 

/* width of h1.associate may be adapted for long pubtitles or earlier line breaks */

/* 

div#headerarea h1.associate
{
	font-family:Arial, Helvetica, FreeSans, sans-serif;
	font-weight: bold;
	font-size: 2em;
	line-height: 1.09em;
    margin:0;
    padding: 21px 0 22px 20px;
	width: 350px;
	height: 50px;
}
div#headerarea h1.associate a
{
	color: #000000;
	border: none;
	float: none;
}
div#uzhlogo_small
{
	display: none;
}
div#headerarea h2
{
	font-weight: normal;
	width: 170px;
	font-size: 0.81em;
	padding: 0 0 0 20px;
	margin: 0;
}

*/

/* ---------------------------------------- */
/* ----- CASE 9: UZH-Partner (1 Logo) ----- */
/* ---------------------------------------- */

/* partner-logo: fix height of 80px, width variable (max. 295px) */

/*

div#servicenav
{
	width: 360px;
}
div#uzhlogo
{
	float:left;
	width: auto;
}
div#uzhlogo a 
{
	float:left;
}
div#partner
{
	float:left;
	padding: 14px 0 0;
	margin: 0 0 0 16px;
	width: 315px;
	height: 80px;
}
div#partner a
{
	float: left;
	background-image:url(/uzh/authoring/images/logoseparator_small.gif);
	background-position: left 15px;
	background-repeat: no-repeat;
	padding-left: 20px;
}
div#headerarea h1
{
	clear: both;
}

*/

/* -------------------------------------------- */
/* ----- CASE 10: UZH-Partner (2-4 logos) ----- */
/* -------------------------------------------- */

/* fix logo-height: 55px (=height logoseparator), width variable */

/* left and right-paddings of logos may be adapted by adressing the specific a-classes */

/* 

div#servicenav
{
	width: 380px;
}
div#uzhlogo
{
	float:left;
	width: auto;
}
div#uzhlogo a 
{
	float:left;
}
div#partner
{
	float: left;
	width: 678px;
	margin-left: 16px;
	padding-top: 6px;
}
div#partner a
{
	float: left;
	background-image:url(/uzh/authoring/images/logoseparator_big.gif);
	background-position: left 0;
	background-repeat: no-repeat;
	padding-left: 15px;
	padding-right: 15px;
}
div#headerarea h1
{
	clear: both;
}

*/

