        #<IfModule !mod_authz_core.c>
        #    Order allow,deny
        #    Allow from all
        #</IfModule>
        #<IfModule mod_authz_core.c>
        #    Require all granted
        #</IfModule>
        #AllowOverride All

        #DirectoryIndex index.php
        #AllowOverride All
        #Order allow,deny
        #Require all granted
        #Allow from all

        # Anfragen auf index.php umleiten
        #RewriteEngine On
        #RewriteBase /
        #RewriteCond %{REQUEST_FILENAME} -s [OR]
        #RewriteCond %{REQUEST_FILENAME} -l [OR]
        #RewriteCond %{REQUEST_FILENAME} -d
        #RewriteRule ^.*$ - [NC,L]
        #RewriteRule ^.*$ index.php [NC,L]

        #php_value short_open_tag On

        #SetEnv APPLICATION_ENV development
        #Alias /static/zf2/public /fsw
        RewriteEngine On

        RewriteBase /static/zf2/public/
        #RewriteBase /fsw


        RewriteRule ^\.htaccess$ - [F]

        RewriteCond %{REQUEST_FILENAME} -s [OR]
        RewriteCond %{REQUEST_FILENAME} -l [OR]
        RewriteCond %{REQUEST_FILENAME} -d
        RewriteRule ^.*$ - [NC,L]
        RewriteRule ^.*$ index.php [NC,L]





